.menu{
    display: flex;
    flex-direction: column;

    &__logo{
        height: 36px;
        padding: 27px 0 27px 0;
    }

    &__list{
        background-color: $c-interface;
        border-top: 1px solid #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 15px 15vw;
        position: absolute;
        z-index: 5;
        bottom: 0%;
        width: 100%;
        box-sizing: border-box;
    }

    &__link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link--nav{
        width: 55px;
    }

    &__link--inactive{
        opacity: 70%;
    }

    &__text {
        font-size: 15px;
        margin-top: 6px;
        color: #ffffff;
    }
}

@media(min-width: 600px){
    .menu{
        &__list{
            padding: 15px 25vw;
        }
    }
}

@media(min-width: 1200px){
    .menu{
        padding: 15px 63px;
        flex-direction: row;
        align-items: center;
        background-color: $c-interface;
        border-bottom: 1px solid #ffffff;
        position: relative;
        z-index: 5;

        &__img{
            display: none;
        }

        &__logo{
            padding: 0 0 0 0;
            filter: brightness(0) invert(1);
        }

        &__list{
            border: none;
            background-color: transparent;
            display: flex;
            justify-content:flex-start;
            padding: 0;
            position: static;
            width: auto;
            box-sizing: content-box;
        }

        &__link{
            margin-left: 63px;
        }

        &__link--logo{
            margin-left: 0px;
        }

        &__link--accueil{
            margin-left: 112px;
        }

        &__link--nav{
            width: auto;
        }

        &__text {
            font-size: 20px;
            margin-top: 0px;
        }
    }
}