.result{
    position: absolute;
    z-index: 0;
    top: 91px;
    left: 50%;
    transform: translatex(-50%);
    background-color: $c-interface;
    color: #ffffff;
    padding: 27px;
    border-radius: 6px;
    max-width: 629px;
    width: 90%;
    box-sizing: border-box;

    &__el--value{
        margin-bottom: 20px;
        font-size: 27px;
    }

    &__text{
        margin-bottom: 8px;
    }

    &__text--invite{
        margin-top: 27px;
        margin-bottom: 20px;
    }

    &__btn{
        width: 100%;
    }

    &--hide{
        display: none;
    }
}

@media(min-width: 1200px){
    .result{
        top:50%;
        transform: translatex(-50%) translatey(-50%);
    }
}