.snake {
    position: absolute;
    z-index: 0;
    top: 91px;
    left: 50%;
    transform: translatex(-50%);
    background-color: $c-interface;
    color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    width: 90%;
    max-width: 472px;
    box-sizing: border-box;

    &__billboard-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $c-panneau;
        padding: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__billboard-el--delay {
        display: flex;
    }

    &__billboard-delay {
        background-color: $c-button;
        padding: 6px;
        min-width: 47px;
        display: flex;
        justify-content: center;
    }

    &__billboard-hour {
        background-color: #ffffff;
        color: $c-interface;
        padding: 6px;
    }

    &__event {
        background-color: $c-button;
        height: 47px;
        margin-bottom: 20px;
        padding-left: 6px;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &__canvas {
        background-image: url(../assets/images/carte_snake.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }

    &__progress-bar-container {
        width: 100%;
        background-color: #fff;
    }

    &__progress-bar {
        height: 20px;
        background-color: $c-button;
        width: 0%;
    }

    &--hide {
        display: none;
    }
}

@media(min-width: 1200px) {
    .snake {
        top: 50%;
        transform: translatex(-50%) translatey(-50%);
    }
}

@media(min-height: 1200px) and (min-width: 1200px) {
    .snake {
        max-width: 839px;
    }
}