.wrap{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0
}
.menu{
  &__link{
    background-color: #0169B4;
  }
  &__logo{
    filter: brightness(0) invert(1);
  }
}
.menu__link{
  background-color: #0169B4;
}
.body__stats{
  overflow-x: hidden;
}

.title{
  font-family: 'LTRenovate-SemiBold', sans-serif;
  padding-top: 20px;
  font-size: 36px;
  margin: 0 20px 40px 20px
}
.échelle{
margin-left: 20px;
margin-right: 20px;
color: $c-bleufonce;
&__title{
  color: $c-bleufonce;
  margin: 0;
  margin-bottom: 20px;
}

&__wagon{
  margin-top: 0.5em;
}
}


.incident{
overflow-x: hidden; // Parce que dans le mode mobile il y a du scroll
&__title{
  color: $c-bleuclair;
  margin: 0 0 15px 20px;
  font-size: 27px;
  padding-top: 40px;
  &--clair{
    color: $c-bleufonce;
  }
}
&__stats{
  margin-left: 20px;
}
&__all-stats{
  display: flex;
  line-height: 145%;
  font-size: 15px;
  margin: 20px 20px 0 20px; 
  padding-bottom: 100px; 
}
&__img{
  margin: 0;
  vertical-align: middle;
  
}

&__background{
  background-color: $c-bleuclair;
  &--foncé{
    background-color: $c-bleufonce;
  }
}
&__contenu{
  background-color: $c-bleufonce;
  color: $c-bleuclair;
  margin: 0;
  &--clair{
    background-color: $c-bleuclair;
    color: $c-bleufonce;
  }
}
}



.stats{
margin-top: 2em;

&__list{
  display: flex;
  position: relative;
}
&__el{
  margin-top: 0px;

  &:last-child{
    margin-bottom: 20px;
  }
}
&__avant-train{
  height: 55px;
  width: 300px;
  background-image: url(../assets/images/avant_train.svg);
  background-repeat: no-repeat;
}
&__wagon{
  height: 55px;
  width: 300px;
  background-image: url(../assets/images/wagon.svg);
  background-repeat: no-repeat;
}
&__arriere-train{
  height: 55px;
  width: 300px;
  background-image: url(../assets/images/arriere_train.svg);
  background-repeat: no-repeat;
}

}

.incident--last{
padding-bottom: 120px;
background-color: $c-bleufonce;
}

@media(min-width: 1200px){

.menu{
  &__text--stats{
    color: white;
  }
}

.title{
  margin-left: 63px;
  padding-top: 112px;
  margin-top: 0;
  font-size: 84px;
}

.échelle{
margin-left: 63px;
margin-right: 63px;
&__title{
  margin: 0;
  margin-bottom: 20px;
  font-size: 63px;
}

&__wagon{
  margin-top: 20px;
}
}

.incident{

&__title{
  margin-left: 63px;
  margin-right: 63px;
  padding-top: 84px;
  font-size: 63px;
}
&__stats{
  margin-left: 63px;
}
&__all-stats{
  margin-left: 63px;
  margin-right: 63px;
}
}
.stats__el{
cursor: pointer;
}
}